<h1 class="text-center">研協章程</h1>
<div class="col-md-12">
  <table class="table">
    <thead> 
      <tr>
        <th> # </th>
        <th> 內容 </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @statute.each do |s| %> 
        <tr>
          <td> # </td>  
          <td>  <%= truncate(s.content, :length => 53) %> </td>
          <td>
            <% if current_administrator %>  
              <%= link_to("編輯", 
                        edit_admin_statute_path(s), 
                        :class => "btn btn-sm btn-default")%>
            <% end %>
          </td> 
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
