<% if current_administrator%>
  <ul>
    <li><a href='/admin/rotators'>Rotator</a></li>
    <li><a href='/admin/intros'>Intro</a></li>
    <li><a href='/admin/organizations'>Organization</a></li>
    <li><a href='/admin/statutes'>Statute</a></li>
    <li><a href='/admin/events'>Event</a></li>
    <li><a href='/admin/records'>Record</a></li>
  </ul>
<% end %>