<% if current_administrator%>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NTUGSA_site</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
    
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
              <li><a href='/admin/rotators'>Rotator</a></li>
            <li><a href='/admin/intros'>Intro</a></li>
            <li><a href='/admin/organizations'>Organization</a></li>
            <li><a href='/admin/statutes'>Statute</a></li>
            <li><a href='/admin/events'>Event</a></li>
            <li><a href='/admin/records'>Record</a></li>
    </ul>

<% end %>