<% if current_administrator%>
  <ul class="nav nav-tabs top_offset" role="tablist">
    <li><a href='/admin/rotators'>Rotator</a></li>
    <li><a href='/admin/intros'>Intro</a></li>
    <li><a href='/admin/organizations'>Organization</a></li>
    <li><a href='/admin/statutes'>Statute</a></li>
    <li><a href='/admin/events'>Event</a></li>
    <li><a href='/admin/records'>Record</a></li>
    <li><a href='/admin/boards'>Board</a></li>
    <li><a href='/admin/posts'>Post</a></li>
    <li><a href='/admin/comments'>Comment</a></li>
  </ul>
<% end %>