<footer style="display: block">
  <hr>
  <p class="text-center">
    <a href="https://www.facebook.com/NTUGSA" target=_new>FB Page</a>
  </p>
  <p class="text-center">聯絡研協：
    <a href="mailto:ntugsa@ntu.edu.tw">ntugsa46th@gmail.com</a>
  </p>
  <p class="text-center">All Right Reserved<br>Supported by 
    <a href="https://www.facebook.com/tonysun329" target=_new>KAI</a> & 
    <a href="https://www.facebook.com/juin.chiu" target=_new>CJ</a>
  </p>
</footer>