<br>
<br>
<br>
<footer style="display: block; position:fixed; bottom:0px; width:100%; background-color:#0059A3; color:white;">
  <div class="text-center" style="display: inline-block; text-align:center; width:100%;">
    Copyright © 2014-2015 NTUGSA. All rights reserved. &nbsp | &nbsp Supported by 
    <a href="https://www.facebook.com/tonysun329" target="_new" style="color:#CEECF5">
      KS
    </a> & 
    <a href="https://www.facebook.com/juin.chiu" target="_new" style="color:#CEECF5">
      CJ
    </a>. &nbsp | &nbsp
      聯絡研協：
    <a href="mailto:ntugsa@ntu.edu.tw" style="color:#CEECF5">
      ntugsa46th@gmail.com
    </a> &nbsp | &nbsp
    <a href="https://www.facebook.com/NTUGSA" target="_new" style="color:#CEECF5">
      FB page
    </a>
  </div>
</footer>