<footer class="container" style="display: block;">
	<hr>
	<p class="text-center">All Right Reserved<br>
		Supported by <a href="https://www.facebook.com/tonysun329" target=_new>kai</a> & 
		<a href="https://www.facebook.com/juin.chiu" target=_new>cj</a>
	</p>
	<p class="text-center">
		<a href="https://www.facebook.com/NTUGSA" target=_new>FB Page</a>
	</p>
</footer>