<h1>NTUGSA site</h1>
<ul>
  <li><a href='/'>首頁</a></li>
  <li><a href='/site/about'>關於研協</a></li>
  <li><a href='/site/event'>活動公告</a></li>
  <li><a href='/site/record'>會議記錄</a></li>
  <li><a href='#'>論壇</a></li>

  <% if !current_administrator %>
        <li> <%= link_to("註冊", new_administrator_registration_path) %> </li>
        <li> <%= link_to("登入", new_administrator_session_path) %> </li>
        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hi!, <%= current_administrator.name %>  
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("登出", destroy_administrator_session_path, 
                               :method => :delete ) %></li>
          </ul>
        </li>
        <% end %>
</ul>