<h1>NTUGSA site</h1>
<ul>
  <li><a href='/'>首頁</a></li>
  <li><a href='/site/about'>關於研協</a></li>
  <li><a href='/site/event'>活動公告</a></li>
  <li><a href='/site/record'>會議記錄</a></li>
  <li><%= link_to("論壇", board_path(1)) %></li>
</ul>